@import "tailwindcss";
@theme{
    --breakpoint-xxs: 240px
}
*{
  background-color: #010113;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.custom-gradient{
    background: rgb(88,132,208);
    background: linear-gradient(144deg, rgba(88,132,208,1) 1%, rgba(88,64,195,1) 59%);
}
.masonry-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -5px; /* Fix gutter spacing */
}

.masonry-item {
  padding: 5px; /* Fix gutter spacing */
  width: 100%; /* Default full width for mobile */
}

@media (min-width: 640px) {
  .masonry-item {
    width: calc(50% - 10px); /* 2 columns on small screens */
  }
}

@media (min-width: 1024px) {
  .masonry-item {
    width: calc(33.333% - 10px); /* 3 columns on larger screens */
  }
}
